@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import the Space Mono font */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* Reset styles */
* {
  text-transform: lowercase;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global styles */
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Space Mono', monospace;
  background-color: #f2f2f2;
  color: #262626;
}

/* Hide scrollbar but allow scrolling */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}